---
import logoDark from '@assets/firegiant-logo-black.svg?raw';
import logoLight from '@assets/firegiant-logo-standard.svg?raw';
import docs from '@assets/docs-logo.svg?raw';

const wwwHref = 'https://www.firegiant.com/';
const docsHref = 'https://docs.firegiant.com/';
---

<span class="site-title sl-flex">
  <a class="firegiant-logo print:hidden" href={wwwHref} set:html={logoDark} aria-label="FireGiant" />
  <a class="docs-logo" href={docsHref} set:html={docs} aria-label="Docs" title="FireGiant Docs" />
</span>

<style>
  .site-title {
    --logo-height: calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y));
    align-items: center;
    gap: 1rem;
    min-width: max-content;
    flex-shrink: 0;
    white-space: nowrap;
  }

  .site-title a {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .firegiant-logo {
    color: var(--sl-color-white);
  }

  .docs-logo {
    color: var(--sl-color-text-accent);
  }

  /* On focus, outline <img> and <svg> rather than <a> */
  .site-title a:focus-visible {
    outline: 0;
  }
  .site-title a:focus-visible > :global(*) {
    outline: auto;
    outline-offset: 0.33rem;
    border-radius: 1px;
  }
  /* Adjust svg sizes to full nav height */
  .site-title :global(svg) {
    display: block;
    width: auto;
    height: var(--logo-height);
    max-width: none;
    transition: transform 0.18s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .site-title a:hover :global(svg) {
    --hover-offset: 0.15rem;
    transform: translateY(calc(var(--hover-offset) * -1));
  }

  @media (max-width: 64rem) {
    .site-title {
      --logo-height: 1.625rem;
      gap: 0.75rem;
    }
  }
</style>
