---
import { getEntry, getCollection } from "astro:content";

const { postCount = 10 } = Astro.props;

const posts = (await getCollection("docs"))
  ?.filter((x) => x.slug.startsWith("news"))
  .sort((a, b) => b.slug.localeCompare(a.slug));
---

<ul
  role="list"
  class=""
>
  {
    posts.slice(0, postCount).map((post) => (
      <li>
        <a href={`${post.slug}`}>{post.data.title}</a>
      </li>
    ))
  }
</ul>
